@page
@model RPA_Web_Portal_Prototype_v2.Views.MainPage.InputterPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="flex flex-col items-center justify-center">
    <h1>hi inputter :)</h1>
    <button id="thebtn" onclick="InpDoSmth()">ClickMe</button>
    <p id="resultMsg" style="margin-top:20px; color: blue; font-size: 20px;"></p>
</div>
</body>

<script>
    async function InpDoSmth(){
        
        try{
            let response = await fetch("/MainPage/InputterDoSomething/")
            if(!response.ok){
                throw new Error("Failed to fetch data!")
            }
            let message = await response.text()
            document.getElementById("resultMsg").innerHTML = message
        }
        catch (e) {
            alert(e)
        }
        
        
    }
</script>

</html>